torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1+cu113
timm==0.4.5
transformers==4.38.2
numpy
pandas
scipy
h5py
datasets==2.14.5
soundfile==0.12.1
librosa==0.10.1
opencv-python==4.9.0.80
PyYAML==6.0.1
einops==0.8.1
scikit-learn==1.4.0
matplotlib==3.8.2
tqdm==4.67.1
wandb==0.8.32
